@import './styles/common.styles.scss';
@import './styles/navbar.styles.scss';
@import './styles/signin.styles.scss';
@import './styles/signup.styles.scss';
@import './styles//admin.styles.scss';
@import './styles/404.styles.scss';
@import './styles/landingpage.styles.scss';
@import './styles/addreservation.styles.scss';
@import './styles/viewHotels.styles.scss';
@import './styles/spinner.styles.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
