body{
    position: relative;
    // min-height: 100vh;
}

.body {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    min-height: 100vh;
}

.content-body{
    // padding: 5px;
    padding-bottom: 2.5rem;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    color:black;
}

footer {
    // position: relative !important;
    // margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #202020 !important;
    color: #4a9abb !important;
}

.btn{
    background-color: #F7444E !important;
    color: #FFF !important;
    border-radius: 15px !important;
    
}

.btn:hover {
    background-color: #FFF !important;
    color: #F7444E !important;
    border: 2px solid #F7444E !important;
}