.img-fluid-signup {
    min-height: 94vh;
    max-height: 100vh;
    width: 100%;
}

.signup-dropdown-btn {
    height: 40px;
    width: 150px;
    margin-bottom: 5px;
    background-color: none !important;
    border-color: rgb(28, 0, 205);
    border-radius: 20px;
}