.main-container{
    width: 100%;
    min-height: 90vh;
    .row{
        width: 100%;
        margin: 0%;
    }
    .col-6{
        padding: 1px;
    }
    .zoom-img-main{
        min-width: 550px !important;
    }
    .zoom-img{
        min-width: 274px !important;
    }
}

